@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

$containerWidthLd : 75%;
$containerWidthMd : 86%;
$containerWidthSd : 90%;

$transition400 : all 400ms ease;


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid black;
    transition: $transition400;
    &:hover {
       background: black;
       border-color: black;
    }
}

img {
    display: block;
    object-fit: cover;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
    .container {
        width: $containerWidthMd;
    }

    section {
        margin-top: 6rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
    .container {
        width: $containerWidthSd;
    }

    section {
        margin-bottom: 2rem;
    }
}